/* Help user distinguish between checked/unchecked toggle button when it has
focus */
.btn-group > .btn-check:focus:not(:checked) + .btn-check-label {
  opacity: 0.8;
}

/* Custom dark theme styles */
.bg-dark h1,
.bg-dark a {
  color: var(--bs-info);
}

.bg-dark .form-control {
  border-color: var(--bs-info);
  background-color: var(--bs-dark);
  color: var(--light);
}

.bg-dark .form-control::placeholder {
  color: var(--bs-info);
  opacity: 0.7;
}

.bg-dark.form-select {
  /* change color of select icon */
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%230dcaf0%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
}
