html {
  scroll-behavior: smooth;
}

.favorite {
  color: goldenrod;
  cursor: pointer;
}

#top-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  opacity: 0;
  background-color: #fff;
  transition: opacity 200ms;
}

/* bootstrap overrides for dark theme */
.bg-dark a {
  color: var(--bs-info);
}

.bg-dark a:hover {
  color: #4cdaf6;
}

.bg-dark h1 {
  color: var(--bs-info);
}

.bg-dark .form-control {
  border-color: var(--bs-info);
  background-color: var(--bs-dark);
  color: var(--light);
}

.bg-dark .form-control::placeholder {
  color: var(--bs-info);
  /* opacity < 0.7 does not have enough contrast for AA */
  opacity: 0.7;
}

.btn-theme-toggle {
  width: 2em;
  height: 2em;
}
